div.footer
    div.row.content
        div.col-lg-4.col-md-4.col-sm-4.col-xs-12.footer-col
            div.title #{seed.lang[lang]['products']}
            div.row
                ul.col-xs.m-t-10
                    a(href="#")
                        li #{seed.lang[lang]['zarinTaxi']}
                    a(href="#")
                        li #{seed.lang[lang]['requestMoney']}
                    a(href="#")
                        li #{seed.lang[lang]['paymentGateway']}
                ul.col-xs.footer-col.m-t-10
                    a(href="#")
                        li #{seed.lang[lang]['zarinCard']}
                    a(href="/applications.html")
                        li #{seed.lang[lang]['application']}
                    a(href="#")
                        li #{seed.lang[lang]['lab']}

        div.col-lg-2.col-md-2.col-sm-2.col-xs-6.footer-col
            div.title #{seed.lang[lang]['moreCommunication']}
            ul
                a(href="#")
                    li #{seed.lang[lang]['contactUs']}
                a(href="#")
                    li #{seed.lang[lang]['termsAndConditions']}
                a(href="#")
                    li #{seed.lang[lang]['privacy']}

        div.col-lg-2.col-md-2.col-sm-2.col-xs-6.footer-col
            div.title #{seed.lang[lang]['introductionToZarinpal']}
            ul
                a(href="#")
                    li #{seed.lang[lang]['firstClassTeam']}
                a(href="#")
                    li #{seed.lang[lang]['aboutUs']}
                a(href="#")
                    li #{seed.lang[lang]['faq']}

        div.col-lg-2.col-md-2.col-sm-2.col-xs-6.footer-col
                div.title
                    | #{seed.lang[lang]['references']}
                ul
                    a(href="#")
                        li #{seed.lang[lang]['developers']}
                    a(href="#")
                        li #{seed.lang[lang]['design']}

        div.col-lg-2.col-md-2.col-sm-2.col-xs-6.ta-center
            ul
                a(href="#")
                    li.title #{seed.lang[lang]['english']}
                a(href="#")
                    li.title #{seed.lang[lang]['farsi']}

        div.col-xs-12.bottom.ta-center
            span
            |© زرین‌پال ۱۳۹۰-۱۳۹۶