div.footer
    div.row.content
        div.col-lg-3.col-md-3.col-sm-12.col-xs-12.md-ta-center.sm-ta-center.footer-col
            div.footer-logo

        div.col-lg-2.col-md-2.col-sm-6.col-xs-6.footer-col
            div.title #{seed.lang[lang]['moreCommunication']}
            ul
                a(href="contact.html")
                    li #{seed.lang[lang]['contactUs']}
                a(href="#")
                    li #{seed.lang[lang]['termsAndConditions']}
                a(href="#")
                    li #{seed.lang[lang]['privacy']}

        div.col-lg-2.col-md-2.col-sm-6.col-xs-6.footer-col
            div.title #{seed.lang[lang]['introductionToZarinpal']}
            ul
                a(href="#")
                    li #{seed.lang[lang]['firstClassTeam']}
                a(href="aboutUs.html")
                    li #{seed.lang[lang]['aboutUs']}
                a(href="faq.html")
                    li #{seed.lang[lang]['faq']}

        div.col-lg-2.col-md-2.col-sm-6.col-xs-6.footer-col
                div.title
                    | #{seed.lang[lang]['references']}
                ul
                    a(href="#")
                        li #{seed.lang[lang]['developers']}
                    a(href="#")
                        li #{seed.lang[lang]['design']}

        div.col-lg-3.col-md-3.col-sm-6.col-xs-12.footer-col.ta-center
            div.social-networks
                a.icon-link(href="#")
                    div.icon.instagram
                a.icon-link(href="#")
                    div.icon.telegram
                a.icon-link(href="#")
                    div.icon.twitter

        div.col-xs-12.bottom
            div.row
                div.col-xs-12.ta-center.copyright
                    span ©صاحب امتیاز تمامی حقوق وب‌سایت، زرین‌پال می باشد.  ۱۳۷۷-۱۳۹۹