div.footer
    div.row.content
        div.col-lg-4.col-md-4.col-sm-4.col-xs-12
            div.title #{seed.lang[lang]['products']}
            div.row
                ul.col-xs
                    a(href="#")
                        li زرین‌کارت
                    a(href="#")
                        li زرین‌کارت
                    a(href="#")
                        li زرین‌کارت
                    a(href="#")
                        li زرین‌کارت
                ul.col-xs
                    a(href="#")
                        li زرین‌کارت
                    a(href="#")
                        li زرین‌کارت
                    a(href="#")
                        li زرین‌کارت
                    a(href="#")
                        li زرین‌کارت

        div.col-lg-2.col-md-2.col-sm-2.col-xs-6
            div.title #{seed.lang[lang]['moreCommunication']}
            ul
                a(href="#")
                    li زرین‌کارت
                a(href="#")
                    li زرین‌کارت
                a(href="#")
                    li زرین‌کارت
                a(href="#")
                    li زرین‌کارت

        div.col-lg-2.col-md-2.col-sm-2.col-xs-6
            div.title #{seed.lang[lang]['introductionToZarinpal']}
            ul
                a(href="#")
                    li زرین‌کارت
                a(href="#")
                    li زرین‌کارت
                a(href="#")
                    li زرین‌کارت
                a(href="#")
                    li زرین‌کارت

        div.col-lg-2.col-md-2.col-sm-2.col-xs-6
                div.title
                    | #{seed.lang[lang]['references']}
                ul
                    a(href="#")
                        li زرین‌کارت
                    a(href="#")
                        li زرین‌کارت
                    a(href="#")
                        li زرین‌کارت
                    a(href="#")
                        li زرین‌کارت

        div.col-lg-2.col-md-2.col-sm-2.col-xs-6
                ul
                    a(href="#")
                        li.title #{seed.lang[lang]['english']}
                    a(href="#")
                        li.title #{seed.lang[lang]['farsi']}

        div.col-xs-12.bottom.ta-center
            span
            |© زرین‌پال ۱۳۹۰-۱۳۹۶