block variables
    -var visibleMobileMenu = false

block header
    div.row.header
        div.col-lg-2.col-md-2.col-xs-6
            div.new-logo
        div.col-lg-10.col-md-10.col-xs-6.ta-left
            i.hand.icon-menu.hidden-lg.hidden-xl.hidden-md(onclick="toggleMobileMenu()")
            ul.links.hidden-xs.hidden-sm
                a(href="#")
                    li #{seed.lang[lang]['prices']}
                a(href="#")
                    li #{seed.lang[lang]['receptionists']}
                a(href="#")
                    li #{seed.lang[lang]['lab']}
                a(href="#")
                    li #{seed.lang[lang]['more']}
                a.btn-login-to-account.pull-left(href="#")
                    span.icon-person
                    li #{seed.lang[lang]['loginToAccount']}

        //Mobile menu
        div.bg-mobile-menu.hidden-xs.hidden-sm.hidden-md.hidden-lg.hidden-xl
        div.mobile-menu.hidden-xs.hidden-sm.hidden-md.hidden-lg.hidden-xl
            div.top
                i.icon-close
            div.middle
                ul
                    a(href="#")
                        li #{seed.lang[lang]['prices']}
                    a(href="#")
                        li #{seed.lang[lang]['receptionists']}
                    a(href="#")
                        li #{seed.lang[lang]['lab']}
                    a(href="#")
                        li #{seed.lang[lang]['more']}
                    a(href="#")
                        li #{seed.lang[lang]['loginToAccount']}
            div.bottom
                a(href="#")
                    span
                    | #{seed.lang[lang]['loginToAccount']}
                    i.icon-arrow-left(onclick="visibleMobileMenu")




    script.
        function toggleMobileMenu() {
            this.visibleMobileMenu = !this.visibleMobileMenu;
        }
