block variables
    -var visibleMobileMenu = false

block header
    div.row.header
        div.col-lg-2.col-md-2.col-sm-2.col-xs-6
            a(href="/")
                div.new-logo
        div.col-lg-10.col-md-10.col-sm-10.col-xs-6.ta-left
            i.hand.icon-menu.hidden-lg.hidden-xl.hidden-md#btnToggleMobileMenu
            ul.links.hidden-xs.hidden-sm
                a(href="/prices.html")
                    li #{seed.lang[lang]['prices']}
                a(href="/merchants.html")
                    li #{seed.lang[lang]['receptionists']}
                a(href="/application.html")
                    li #{seed.lang[lang]['application']}
                a.white(href="#")
                    li.more-menu#btnShowMoreMenu(onclick="showMoreMenu()") #{seed.lang[lang]['more']}
                        ul.animated#moreMenu
                            a(href="/faq.html")
                                li #{seed.lang[lang]['faq']}
                            a(href="/products.html")
                                li #{seed.lang[lang]['products']}

                a.btn-login-to-account.pull-left(href="https://my.zarinpal.com/auth/login")
                    span.icon-person
                    li #{seed.lang[lang]['loginToAccount']}

        //Mobile menu
        div.animated.bg-mobile-menu.hidden-xs.hidden-sm.hidden-md.hidden-lg.hidden-xl#mobileMenuBlur
        div.animated.mobile-menu.hidden-xs.hidden-sm.hidden-md.hidden-lg.hidden-xl#mobileMenu
            div.top
                i.icon-close#btnCloseMobileMenu
            div.middle
                ul
                    a(href="/prices.html")
                        li #{seed.lang[lang]['prices']}
                    a(href="/merchants.html")
                        li #{seed.lang[lang]['receptionists']}
                    a(href="#")
                        li #{seed.lang[lang]['lab']}
                    a(href="#")
                        li #{seed.lang[lang]['more']}
                    a(href="#")
                        li #{seed.lang[lang]['loginToAccount']}
            div.bottom
                a(href="#")
                    span
                    | #{seed.lang[lang]['loginToAccount']}
                    i.icon-arrow-left

    script
        | function showMoreMenu() {
        |     document.getElementById("moreMenu").classList.toggle("show");
        | }

