extends ../partials/layout
block page-variables
  - var fullWidth = true
  - var isCampaign = true

block content
  div.bizhero
    div.row
      div.logo-img
    div.row.section-one
      h1.title-champion #{seed.lang[lang]['bizhero']['titleChampion']}
       p.content-champion#content-champion
      div.social-networks
        a.icon-link.instagram-bg.wow.fadeIn(href="https://www.instagram.com/zarinpal" data-wow-duration="8s")
          div.icon.instagram
        a.icon-link.telegram-bg.wow.fadeIn(href="https://t.me/zarinpal" data-wow-duration="3s")
          div.icon.telegram.wow.zoomeIn
        a.icon-link.twitter-bg.wow.fadeIn(href="https://twitter.com/zarinpal" data-wow-duration="8s")
          div.icon.twitter
    div.col-xs-12.btn-go-bottom-section.ta-center
      i.icon-arrow-down.pointer(onclick="scrollToSection('twoSection')")

    div.row.section-two
      div.col-lg-1.col-md-1
      div.col-lg-5.col-md-5.col-sm-12.col-xs-12.describe
        h3.title-content #{seed.lang[lang]['bizhero']['titleContent']}
        p !{seed.lang[lang]['bizhero']['describe']}
      div.col-lg-1.col-md-1
      div.col-lg-5.col-md-5.col-sm-12.col-xs-12
        div.row
          div
            h3.title-content #{seed.lang[lang]['bizhero']['customerInfo']}
            div.mdc-text-field.text-field.mdc-text-field--outlined.mdc-text-field--dense.mdc-text-field--upgraded.demo-text-field-custom-colors.input-outline#text-field-name
              input.mdc-text-field__input#name-text-field
              label.mdc-floating-label(for="name-text-field") #{seed.lang[lang]['bizhero']['formName']}
              div.mdc-notched-outline
                svg
                  path.mdc-notched-outline__path
              div.mdc-notched-outline__idle
            div.mdc-text-field.text-field.mdc-text-field--outlined.mdc-text-field--dense.mdc-text-field--upgraded.input-outline#text-field-lastname
              input.mdc-text-field__input#lastname-text-field( type="text")
              label.mdc-floating-label(for="lastname-text-field") #{seed.lang[lang]['bizhero']['formLastName']}
              div.mdc-notched-outline
                svg
                  path.mdc-notched-outline__path
              div.mdc-notched-outline__idle
            div.row
              div.mdc-text-field.text-field.mdc-text-field--dense.mdc-text-field--textarea.mdc-text-field--upgraded.input-text-area#text-field-moreinfo
                textarea.mdc-text-field__input#text-field-textarea-dense
                label.mdc-floating-label(for="text-field-textarea-dense") #{seed.lang[lang]['bizhero']['moreInfo']}
              button.btn.btn-gold #{seed.lang[lang]['bizhero']['send']}
    div.row.section-tree
      div.col-xs-12.ta-center
        span #{seed.lang[lang]['bizhero']['copyRight']}






  script(src=config.baseUrl + 'assets/js/campaign/bizhero.js' + config.assetsHash)
