extends ../partials/layout
block page-variables
  - var fullWidth = true
  - var pageTitle = seed.lang[lang]['bizhero']['titleChampion']
  - var isCampaign = true

block content
  div.bizhero
    section#one
      div.row.logo-bizhero
        div.col-xs-12
          a.logo-img( href="https://www.zarinpal.com" )
        div.col-lg-9.col-lg-offset-2.col-md-9.col-md-offset-2.col-sm-12.col-xs-12.row-one
          h1.title-champion.ta-center #{seed.lang[lang]['bizhero']['titleChampion']}
            p.content-champion #{seed.lang[lang]['bizhero']['hero']}
              span.content-champion#content-champion
        div.col-lg-1.col-md-1.col-sm-12.col-xs-12.row-two
          div.social-networks
            a.icon-link.instagram-bg.wow.fadeIn(href="https://www.instagram.com/zarinpal" data-wow-duration="4s")
              div.icon.instagram
            a.icon-link.telegram-bg.wow.fadeIn(href="https://t.me/zarinpal" data-wow-duration="4s")
              div.icon.telegram.wow.zoomeIn
            a.icon-link.twitter-bg.wow.fadeIn(href="https://twitter.com/zarinpal" data-wow-duration="4s")
              div.icon.twitter
        div.col-xs-12.btn-go-bottom.ta-center
          i.icon-arrow-down.pointer(onclick="scrollToSection('two')")
    section#two
      div.row
        div.col-lg-12.col-md-12.col-sm-12.col-xs-12
          h3.title-content #{seed.lang[lang]['bizhero']['titleContent']}
          hr.light-line
          div.col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-sm-12.col-xs-12
            p.title-describee !{seed.lang[lang]['bizhero']['describe']}


    section#tree
      div.row
        div.col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-sm-12.col-xs-12
          div.form-info
            h3.title-content #{seed.lang[lang]['bizhero']['customerInfo']}
            hr.light-line
            div.mdc-text-field.text-field.mdc-text-field--outlined.mdc-text-field--dense.mdc-text-field--upgraded.text-field-custom-colors.input-outline#text-field-name
              input.mdc-text-field__input#firstname-text-field
              label.mdc-floating-label(for="firstname-text-field") #{seed.lang[lang]['bizhero']['formName']}
              div.mdc-notched-outline
                svg
                  path.mdc-notched-outline__path
              div.mdc-notched-outline__idle
            div.mdc-text-field.text-field.mdc-text-field--outlined.mdc-text-field--dense.mdc-text-field--upgraded.text-field-custom-colors.input-outline#text-field-lastname
              input.mdc-text-field__input#lastname-text-field( type="text")
              label.mdc-floating-label(for="lastname-text-field") #{seed.lang[lang]['bizhero']['Lastname']}
              div.mdc-notched-outline
                svg
                  path.mdc-notched-outline__path
              div.mdc-notched-outline__idle
            div.mdc-text-field.text-field.mdc-text-field--outlined.mdc-text-field--dense.mdc-text-field--upgraded.text-field-custom-colors.input-outline#text-field-email
              input.mdc-text-field__input#address-text-field
              label.mdc-floating-label(for="address-text-field") #{seed.lang[lang]['bizhero']['address']}
              div.mdc-notched-outline
                svg
                  path.mdc-notched-outline__path
              div.mdc-notched-outline__idle
            div.mdc-text-field.text-field.mdc-text-field--outlined.mdc-text-field--dense.mdc-text-field--upgraded.text-field-custom-colors.input-outline#text-field-address
              input.mdc-text-field__input#email-text-field( type="text")
              label.mdc-floating-label(for="email-text-field") #{seed.lang[lang]['bizhero']['email']}
              div.mdc-notched-outline
                svg
                  path.mdc-notched-outline__path
              div.mdc-notched-outline__idle
            div.row.input-text-area
              div.mdc-text-field.text-field.mdc-text-field--dense.mdc-text-field--textarea.mdc-text-field--upgraded.text-field-custom-colors.input-text-area#text-field-moreinfo
                textarea.mdc-text-field__input#text-field-textarea-dense
                label.mdc-floating-label(for="text-field-textarea-dense") #{seed.lang[lang]['bizhero']['moreInfo']}
            button.btn.btn-gold.submit#submit-survey #{seed.lang[lang]['bizhero']['send']}


      div.row.cta
        div.col-lg-12.col-md-12.col-sm-12.col-xs-12
          h1.cta-title #{seed.lang[lang]['bizhero']['platForm']}
          div.col-lg-12.col-md-12.col-sm-12.col-xs-12.ta-center.btn-register
            a.btn.btn-gold.register(href="https://my.zarinpal.com/auth/register") #{seed.lang[lang]['pricesPage']['getRegister']}

    section#for
      div.row
        div.col-lg-12.col-md-12.col-sm-12.col-xs-12
          h3.title-content-footer #{seed.lang[lang]['bizhero']['titleContentFooter']}
          hr.light-line
          div.col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-sm-12.col-xs-12
            p.title-describee-footer !{seed.lang[lang]['bizhero']['describeFooter']}
      div.row.info-footer
        div.col-lg-6.col-md-6.col-sm-12.col-xs-12
          div.email-pic
          div.email-link
            a.email-txt.ta-center.pointer( href="mailto:info@zarinpal.com" ) #{seed.lang[lang]['bizhero']['emailAddress']}
        div.col-lg-6.col-md-6.col-sm-12.col-xs-12.l
          div.mobile-pic
          div.mobile-txt.ta-center #{seed.lang[lang]['bizhero']['numberCell']}
  div.mdc-snackbar( aria-live="assertive" aria-atomic="true" aria-hidden="true")
    div.mdc-snackbar__text
    div.mdc-snackbar__action-wrapper
      button.mdc-snackbar__action-button(type="button" )



  script(src=config.baseUrl + 'assets/js/campaign/bizhero.js' + config.assetsHash)


