extends partials/layout
block page-variables
    - var pageTitle = seed.lang[lang]['aboutUs']

block content
    include partials/header

    div.about_us
        div.row.section-one
            div.col-lg-8.col-md-8.col-sm-12.col-xs-12
                p.top-title #{seed.lang[lang]['Firstclassteam']}
                div.header-title #{seed.lang[lang]['onehandhasnosound']}
                p.title-describe #{seed.lang[lang]['ZarrinPalstaffperformance']}
            div.col-lg-4.col-md-4.col-sm-12.col-xs-12
                div.piczarin

        div.row.section-two
            div.col-xs
                div.row.user-info
                    div.col-lg-3.col-md-3.col-sm-12.col-xs-12
                        div.personal
                            div.avatar.before
                            p.name #{seed.lang[lang]['name']}
                            p.role #{seed.lang[lang]['role']}

                    div.col-lg-3.col-md-3.col-sm-12.col-xs-12
                        div.personal
                            div.avatar
                            p.name #{seed.lang[lang]['name']}
                            p.role #{seed.lang[lang]['role']}

                    div.col-lg-3.col-md-3.col-sm-12.col-xs-12
                        div.personal
                            p.avatar
                            p.name #{seed.lang[lang]['name']}
                            p.role #{seed.lang[lang]['role']}

                    div.col-lg-3.col-md-3.col-sm-12.col-xs-12
                        div.personal
                            p.avatar.after
                            p.name #{seed.lang[lang]['name']}
                            p.role #{seed.lang[lang]['role']}















    include partials/footer