extends partials/layout
block page-variables
    - var pageTitle = seed.lang[lang]['aboutUs']

block content
    include partials/header

    div.about_us
        div.row.section-one
            div.col-lg-8.col-md-8.col-sm-12.col-xs-12
                p.top-title #{seed.lang[lang]['Firstclassteam']}
                div.header-title #{seed.lang[lang]['onehandhasnosound']}
                p.title-describe #{seed.lang[lang]['ZarrinPalstaffperformance']}
            div.col-lg-4.col-md-4.col-sm-12.col-xs-12
                div.zarin-logo

        div.row.section-two
            div.col-xs
                div.row.user-info
                    each child, index in seed.resource.aboutus.team
                        div.col-lg-3.col-md-3.col-sm-12.col-xs-12
                            div.personal.ta-center
                                a.avatar-img(class={"background-line":index%4!==0, "first-img":index%4===0,"last-img":index%4===1})
                                    img.avatar(src=config.baseUrl +  child.avatar)
                                div.first-img
                                p.name= child.name
                                p.role= child.role

    include partials/footer
    script(src=config.baseUrl + 'assets/js/merchants/app.js' + config.assetsHash)