extends partials/layout
block page-variables
    - var pageTitle = seed.lang[lang]['aboutUs']
    - var whiteLogo = true

block content
    div.about_us
        div.blue-header
            div.custom-blue-header
                include partials/header
            <!--whatiszarinpal-->

            div.row.section-one
                div.col-lg-12.col-md-12.col-sm-12.col-xs-12.ta-center
                    div.gradient-background.white
                        span.tag.iransans-medium
                            span
                                span.top-title.white #{seed.lang[lang]['whatIsZarinpalNote']}
                        div.header-title.xs-ta-center.white.header-title
                            | #{seed.lang[lang]['whatIsZarinpal']}
                            | #{seed.lang[lang]['itsHere']}
                        p.title-describe.line-height.auto-margin.ta-justify
                            | #{seed.lang[lang]['whatIsZarinpalDes']}

                        div.links
                            a.btn.btn-gold(href="https://my.zarinpal.com/auth/register") #{seed.lang[lang]['createAccount']}
                            //a.btn.btn-normal(href="#") #{seed.lang[lang]['introductionToZarinpal']}
                            a.btn.btn-normal(href="https://jobinja.ir/companies/zarinpal/jobs") #{seed.lang[lang]['Jobopportunity']}
            div.col-xs-12.btn-go-bottom-section.ta-center
                i.icon-arrow-down.pointer#btnGoDown

        <!--Zarin logo and description-->
        div.row.section-two#firstSection
            div.col-xs-12
                div.yellow-oval
            div.col-lg-8.col-md-8.col-sm-12.col-xs-12
                p.top-title #{seed.lang[lang]['Firstclassteam']}
                div.header-title #{seed.lang[lang]['onehandhasnosound']}
                p.title-describe #{seed.lang[lang]['ZarrinPalstaffperformance']}

            div.col-lg-4.col-md-4.col-sm-12.col-xs-12
                div.zarin-logo
        <!--childrenzarinpal-->
        div.row.section-tree
            div.col-xs
                div.row.user-info
                    each child, index in seed.resource.aboutus.team
                        div.col-lg-3.col-md-3.col-sm-4.col-xs-6
                            div.vl-left(class={"vl-left-lg": ((index+1) % 4 === 1 && (index+1) % 8 === 1 && 0!==index),
                                "vl-left-sm": ((index+1) % 3 === 1 && (index+1) % 6 === 1 && 0!==index),
                                "vl-left-xs": ((index+1) % 2 === 1 && (index+1) % 4 === 1 && 0!==index)})
                            div.vl-right(class={"vl-right-lg": ((index+1) % 4 === 0 && (index+1) % 8 === 0),
                                "vl-right-sm": ((index+1) % 3 === 0 && (index+1) % 6 === 0),
                                "vl-right-xs": ((index+1) % 2 === 0 && (index+1) % 4 === 0)})
                            div.personal.ta-center
                                a.avatar-img(class={"background-line":(index+1)%4!==0&&seed.resource.aboutus.team.length-1!==index,                                         "background-linetablet":(index+1)%3!==0&&seed.resource.aboutus.team.length-1!==index,                                                       "background-linetabletsm":(index+1)%2!==0&&seed.resource.aboutus.team.length-1!==index,"first-img":(index+1)                                   %4===0,"last-img":(index+1)%4===1})
                                    img.avatar(src=config.baseUrl +  child.avatar)
                                p.name= child.name
                                p.role= child.role

    include partials/footer