extends partials/layout
block page-variables
    - var pageTitle = seed.lang[lang]['contactUs']
    - var pageBlackHeader = true

include partials/page_title

block content
    script.
         function initMap() {
            var location = {lat: 35.7285049, lng: 51.4034937};
            var map = new google.maps.Map(document.getElementById('map'), {
                   zoom: 17,
                   center: location
             });
             var marker = new google.maps.Marker({
                position: location,
                animation: google.maps.Animation.BOUNCE,
                title: "zarinpal.com",
                map: map,
                optimized: false,
                icon: '#{config.baseUrl}assets/images/map-marker.png'
             });
         }

    include partials/header

    +pageTitle(seed.lang[lang]['pageTitle'])

    div.contact-page
        div.row
            div.col-xs-12
                div.map-container#map

        h2.title
            span.icon.icon-comment
            |   #{seed.lang[lang]['pageTitle']}
        div#app
            div.contact-container
                div.row
                    div.col-xs-12.col-md-5
                        div.contact-info
                            div.row
                                div.col-xs-12.address
                                    p #{seed.lang[lang]['address']['address']}
                                div.col-xs-6.phone
                                    p #{seed.lang[lang]['address']['phone']}
                                div.col-xs-6.fax
                                    p #{seed.lang[lang]['address']['fax']}
                                div.col-xs-6.post-code
                                    p #{seed.lang[lang]['address']['zipCode']}
                                div.col-xs-12
                                    p #{seed.lang[lang]['address']['workHours']}
                                div.col-xs-12
                                    a.btn.btn-gold(href="https://my.zarinpal.com/panel/ticket/guest") #{seed.lang[lang]['ticketInquiry']}

                    div.col-xs-12.col-md-7
                        div.contact-form.form-container
                            contact-form

    include partials/footer
    script(src=config.baseUrl + 'assets/js/contact/app.js' + config.assetsHash)
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGeACnKtvESiULBrraQxYQqZx6g1Jo1Ug&callback=initMap&language=fa")
