extends partials/layout
block page-variables
  - var pageTitle = seed.lang[lang]['getIbanNumber']
  - var pageBlackHeader = true

include partials/page_title

block content
  include partials/header

  +pageTitle(seed.lang[lang]['getIbanNumber'])

  div.iban-page
    div.row.page-head.application-page.center-xs
      div.col-lg-12.col-md-12.col-sm-12.col-xs-12.ta-right.application-title
        div.iban-paragraph #{seed.lang[lang]['ibanDescription1']}
        div.iban-paragraph #{seed.lang[lang]['ibanDescription2']}
        div.iban-title #{seed.lang[lang]['ibanTitle']}
    div.row.iban-icon
      each bank, index in seed.resource.banks
        div.col-lg-2.col-md-2.col-sm-3.col-xs-4.ta-center.m-b-10
          a(href=bank.link target="_blank" rel="nofollow")
            img.iban-logo(src=config.baseUrl + bank.logo)
            div.iban-text #{bank.name}

  include partials/footer