extends partials/layout
block page-variables
    - var pageTitle = seed.lang[lang]['mainPage']

block content
    include partials/header

    <!--New Zarinpal-->
    div.row.section-new-version
        div.blue-bg
        div.col-lg-6.col-md-6.col-sm-12.col-xs-12.right-box
            div.gradient-background
                span.tag.iransans-medium
                    span.label #{seed.lang[lang]['new']}
                    |#{seed.lang[lang]['designSectionOfZarinPalWasLaunched']}
                div.header-title.xs-ta-center
                    | #{seed.lang[lang]['zarinPalNewVersion']}
                    | #{seed.lang[lang]['itsHere']}
                p.new-zarinpal-description.line-height
                    | #{seed.lang[lang]['newZarinpalDescription']}

                div.links
                    a.btn.btn-gold(href="https://my.zarinpal.com/auth/register") #{seed.lang[lang]['createAccount']}
                    a.btn.btn-normal(href="#") #{seed.lang[lang]['introductionToZarinpal']}

                div.btn-go-bottom-section
                    i.icon-arrow-down.pointer#btnGoDown

        div.col-lg-6.col-md-6.col-sm-12.col-xs-12.hidden-xs.hidden-sm.hidden-md
            div.request-money

    <!--Pg-->
    div.row.section-pg#sectionPg
        div.col-lg-6.col-md-6.col-sm-12.col-xs-12
            img.bg.pg-background(src="./assets/images/pg.svg")

        div.col-lg-6.col-md-6.col-sm-12.col-xs-12
            div.gradiant-background
                p.top-title
                    | #{seed.lang[lang]['zarinPalPaymentGateway']}
                div.header-title
                    | #{seed.lang[lang]['securePaymentGateway']}
                p.title-describe
                    | #{seed.lang[lang]['securePaymentGatewayDescription']}

                a.read-more(href="#")
                    span #{seed.lang[lang]['loginToGateWay']}
                    i.icon-left


    <!--Social payment-->
    div.section-social-payment
        div.row.no-margin
            div.col-lg-5.col-md-5.col-sm-12.col-xs-12.bg-oblique
                p.top-title
                    | #{seed.lang[lang]['zarinLink']}
                div.header-title
                    | #{seed.lang[lang]['paymentInSocialNetworks']}
                p.title-describe
                    | #{seed.lang[lang]['paymentInSocialNetworksDescribe']}

                a.read-more(href="#")
                    span #{seed.lang[lang]['makeZarinLink']}
                    i.icon-left

            div.col-lg-7.col-md-7.col-sm-12.col-xs-12.gray-bg
                img.bg.social-payment-background(src="./assets/images/social-image.svg")

    <!--ZarinCard-->
    div.row.section-zarincard
        div.col-lg-6.col-md-6.col-sm-12.col-xs-12
            img.bg.zarincard-background(src="./assets/images/zarincard.svg")

        div.col-lg-6.col-md-6.col-sm-12.col-xs-12
            div.gradiant-background
                p.top-title
                    | #{seed.lang[lang]['zarinCard']}
                div.header-title
                    | #{seed.lang[lang]['goldestBankCard']}
                p.title-describe
                    | #{seed.lang[lang]['goldestBankCardDescribe']}

                a.read-more(href="#")
                    span #{seed.lang[lang]['receiveZarinCard']}
                    i.icon-arrow-left

    <!--Read more-->
    div.section-read-more
        div.row.no-margin
            div.col-lg-8.col-md-8.options.gold-bg
                div.row
                    div.col-lg-6.col-md-6.col-sm-6.col-xs-12.left-border
                        div
                            span.image-icon.image-verified-account
                            span.title #{seed.lang[lang]['paymentWarranty']}

                        p.description.line-height
                            | #{seed.lang[lang]['paymentWarrantyDescription']}

                    div.col-lg-6.col-md-6.col-sm-6.col-xs-12
                        div
                            span.image-icon.image-split
                            span.title #{seed.lang[lang]['smartRouting']}
                        p.description.line-height
                            | #{seed.lang[lang]['smartRoutingDescription']}

                    div.horizontal-line.hidden-xs

                    div.col-lg-6.col-md-6.col-sm-6.col-xs-12.left-border
                        div
                            span.image-icon.image-support
                            span.title #{seed.lang[lang]['support']}
                        p.description.line-height
                            | #{seed.lang[lang]['supportDescription']}

                    div.col-lg-6.col-md-6.col-sm-6.col-xs-12
                        div
                            span.image-icon.image-security
                            span.title #{seed.lang[lang]['security']}
                        p.description.line-height
                            | #{seed.lang[lang]['securityDescription']}

            <!--Payment standards-->
            div.col-lg-4.col-md-4.read-more-standards
                div.header-title
                    | #{seed.lang[lang]['paymentStandards']}
                p.title-describe.line-height
                    | #{seed.lang[lang]['paymentStandardsDescription']}

                a.read-more(href="#")
                    span #{seed.lang[lang]['readMore']}
                    i.icon-left

    include partials/customers
    include partials/footer