extends partials/layout
block page-variables
  - var pageTitle = seed.lang[lang]['mainPage']
  - var whiteLogo = true

block content
  a(href="https://www.zarinpal.com/landing/bizhero/" target="_blank")
    div.landing-box
      p.landing-title قهرمان کسب و کار خودت باش!

  div.blue-header
    div.custom-blue-header
      include partials/header

    <!--New Zarinpal-->
    div.row.section-new-version
      div.col-lg-6.col-md-6.col-sm-12.col-xs-12.right-box
        div.gradient-background.white.center-content-xs
          span.tag.iransans-medium
            span.tag-label-background
                span.label #{seed.lang[lang]['new']}
            span
              a(href="https://help.zarinpal.com/")
                span.label-text.white #{seed.lang[lang]['designSectionOfZarinPalWasLaunched']}
          div.header-title.xs-ta-center.white
            | #{seed.lang[lang]['zarinPalNewVersion']}
            | #{seed.lang[lang]['itsHere']}
          p.new-zarinpal-description.line-height.ta-justify.center-content-xs
            | #{seed.lang[lang]['newZarinpalDescription']}

          div.links.xs-ta-center
            a.btn.btn-gold(href="https://my.zarinpal.com/auth/register") #{seed.lang[lang]['createAccount']}
            a.btn.btn-normal(href="https://www.zarinpal.com/aboutus.html") #{seed.lang[lang]['introductionToZarinpal']}
      div.col-lg-6.col-md-6.col-sm-12.col-xs-12.hidden-xs.hidden-sm.hidden-md
        div.wave
            div.request-money

    div.col-xs-12.btn-go-bottom-section.ta-center
      i.icon-arrow-down.pointer#btnGoDown(onclick="scrollToSection('firstSection')")
  <!--Pg-->
  div.row.section-pg#firstSection
    div.col-lg-6.col-md-6.col-sm-12.col-xs-12
      include images/pg

    div.col-lg-6.col-md-6.col-sm-12.col-xs-12
      div.gradiant-background
        p.top-title.xs-ta-center
          | #{seed.lang[lang]['zarinPalPaymentGateway']}
        div.header-title.xs-ta-center
          | #{seed.lang[lang]['securePaymentGateway']}
        p.title-describe
          | #{seed.lang[lang]['securePaymentGatewayDescription']}

        a.read-more(href="https://my.zarinpal.com/auth/register")
          span #{seed.lang[lang]['loginToGateWay']}
          i.icon-left


  <!--Social payment-->
  div.section-social-payment
    div.row.no-margin
      div.col-lg-5.col-md-5.col-sm-12.col-xs-12.bg-oblique
        p.top-title.xs-ta-center
          | #{seed.lang[lang]['zarinLink']}
        div.header-title.xs-ta-center
          | #{seed.lang[lang]['paymentInSocialNetworks']}
        p.title-describe
          | #{seed.lang[lang]['paymentInSocialNetworksDescribe']}

        a.read-more(href="https://help.zarinpal.com/easypay/")
          span #{seed.lang[lang]['makeZarinLink']}
          i.icon-left

      div.col-lg-7.col-md-7.col-sm-12.col-xs-12.gray-bg.ta-center
        include images/social-image

  <!--ZarinCard-->
  div.row.section-zarincard
    div.col-lg-6.col-md-6.col-sm-12.col-xs-12
      include images/zarincard

    div.col-lg-6.col-md-6.col-sm-12.col-xs-12
      div.gradiant-background
        p.top-title.xs-ta-center
          | #{seed.lang[lang]['zarinCard']}
        div.header-title.xs-ta-center
          | #{seed.lang[lang]['goldestBankCard']}
        p.title-describe
          | #{seed.lang[lang]['goldestBankCardDescribe']}

        a.read-more(href="https://help.zarinpal.com/home/#زرین‌کارت")
          span #{seed.lang[lang]['receiveZarinCard']}
          i.icon-left

  <!--Read more-->
  div.section-read-more
    div.row.no-margin

      <!--Payment standards-->
      div.col-lg-4.col-md-4.read-more-standards
        div.header-title.xs-ta-center
          | #{seed.lang[lang]['paymentStandards']}
        p.title-describe.line-height
          | !{seed.lang[lang]['paymentStandardsDescription']}

      div.col-lg-8.col-md-8.options.gold-bg
        div.row
          div.col-lg-6.col-md-6.col-sm-6.col-xs-12.left-border
            div
              span.image-icon.image-verified-account
              span.title #{seed.lang[lang]['paymentWarranty']}

            p.description.line-height
              | #{seed.lang[lang]['paymentWarrantyDescription']}

          div.col-lg-6.col-md-6.col-sm-6.col-xs-12
            div
              span.image-icon.image-split
              span.title #{seed.lang[lang]['smartRouting']}
            p.description.line-height
              | #{seed.lang[lang]['smartRoutingDescription']}

          div.horizontal-line.hidden-xs

          div.col-lg-6.col-md-6.col-sm-6.col-xs-12.left-border
            div
              span.image-icon.image-support
              span.title #{seed.lang[lang]['support']}
            p.description.line-height
              | #{seed.lang[lang]['supportDescription']}

          div.col-lg-6.col-md-6.col-sm-6.col-xs-12
            div
              span.image-icon.image-security
              span.title #{seed.lang[lang]['security']}
            p.description.line-height
              | #{seed.lang[lang]['securityDescription']}

  include partials/customers
  include partials/footer