extends partials/layout
block page-variables
    - var pageTitle = seed.lang[lang]['mainPage']

block content
    include partials/header

    <!--New Zarinpal-->
    div.row.section-new-version
        div.blue-bg
        div.col-lg-6.col-md-6.col-sm-12.col-xs-12.right-box
            div.gradient-background
                span.tag.iransans-medium
                    span.label جدید
                    |بخش طراحی زرین‌پال راه‌اندازی شد
                div.header-title.xs-ta-center
                    | نسخه جدید زرین‌پال
                    | همین‌جاست
                p.new-zarinpal-description.line-height
                    | #{seed.lang[lang]['newZarinpalDescription']}

                div.links
                    a.btn.btn-gold(href="https://my.zarinpal.com/auth/register") ایجاد حساب
                    a.btn.btn-normal(href="#") آشنایی با زرین‌پال

                div.btn-go-bottom-section
                    i.icon-arrow-down.pointer#btnGoDown

        div.col-lg-6.col-md-6.col-sm-12.col-xs-12.hidden-xs.hidden-sm.hidden-md
            div.request-money

    <!--Pg-->
    div.row.section-pg#sectionPg
        div.col-lg-6.col-md-6.col-sm-12.col-xs-12
            div.pg-background

        div.col-lg-6.col-md-6.col-sm-12.col-xs-12
            div.gradiant-background
                p.top-title
                    |درگاه پرداخت زرین‌پال
                div.header-title
                    | گذرگاه تراکنش‌های مالی امن
                p.title-describe
                    |زرین‌پال اولین ارايه دهنده درگاه پرداخت واسط در ایران است، در واقع یک راهکار ساده، جامع و کار‌آمد برای قراردادن امکان پرداخت در بستر اینترنت و موبایل است. با استفاده از زرین‌پال می توانید چندین درگاه پرداخت را به سادگی به وبسایت خود اضافه کنید، سریع‌تر و آسان‌تر امکانات پرداخت را به کسب و کار خود اضافه کنید و با خیالی آسوده درآمد خود را مدیریت کنید.

                div.horizontal-line
                a.read-more(href="#")
                    span #{seed.lang[lang]['loginToGateWay']}
                    i.icon-arrow-left


    <!--Social payment-->
    div.section-social-payment
        div.row.no-margin
            div.col-lg-5.col-md-5.col-sm-12.col-xs-12.bg-oblique
                p.top-title
                    | #{seed.lang[lang]['zarinLink']}
                div.header-title
                    | #{seed.lang[lang]['paymentInSocialNetworks']}
                p.title-describe
                    | #{seed.lang[lang]['paymentInSocialNetworksDescribe']}

                div.horizontal-line
                a.read-more(href="#")
                    span #{seed.lang[lang]['makeZarinLink']}
                    i.icon-arrow-left

            div.col-lg-7.col-md-7.col-sm-12.col-xs-12.gray-bg
                div.social-payment-background.xs-social-payment-background


    <!--Read more-->
    div.section-read-more
        div.row.no-margin
            div.col-lg-8.col-md-8.options.gold-bg
                div.row
                    div.col-lg-6.col-md-6.col-sm-6.col-xs-12.left-border
                        div
                            span.image-icon.image-verified-account
                            span.title ضمانت پرداخت

                        p.description.line-height
                            |لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط.

                    div.col-lg-6.col-md-6.col-sm-6.col-xs-12
                        div
                            span.image-icon.image-split
                            span.title مسیردهی هوشمند
                        p.description.line-height
                            |لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط.

                    div.horizontal-line.hidden-xs

                    div.col-lg-6.col-md-6.col-sm-6.col-xs-12.left-border
                        div
                            span.image-icon.image-support
                            span.title پشتیبانی
                        p.description.line-height
                            |لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط.

                    div.col-lg-6.col-md-6.col-sm-6.col-xs-12
                        div
                            span.image-icon.image-security
                            span.title امنیت
                        p.description.line-height
                            |لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط.

            <!--Payment standards-->
            div.col-lg-4.col-md-4.read-more-standards
                div.header-title
                    | استانداردهای پرداخت آنلاین
                p.title-describe.line-height
                    |حوزه‌ی فناوری‌های مالی یا همان فینتک مانند تمام موضوعات دیگر دارای استانداردهایی است که زرین‌پال به عنوان اولین پرداخت‌یار ایران، خودش به تنهایی استاندارد جدید در حوزه‌ی پرداخت آنلاین می‌باشد.

                div.horizontal-line
                a.read-more(href="#")
                    span بیشتر بدانید
                    i.icon-arrow-left

    include partials/customers
    include partials/footer