extends partials/layout
block page-variables
    - var pageTitle = seed.lang[lang]['prices']

include partials/page_title

block content

    include partials/header

    div.page-head.prices-page
        div.col-lg-6.col-md-6.col-sm-12.col-xs-12.description-section
        div.col-lg-6.col-md-6.col-sm-12.col-xs-12.image-section

        div#wages
            div.row
                div.col-lg-6.col-md-6.col-sm-12.col-xs-12
                    div.bg.top-page-image
                div.col-lg-6.col-md-6.col-sm-12.col-xs-12.first-md
                    span.top-title #{seed.lang[lang]['pricesPage']['wages']}
                    h3.header-title #{seed.lang[lang]['pricesPage']['wagesNote']}
                    div.title-describe #{seed.lang[lang]['pricesPage']['wagesDes']}

        div.page-section.gray-section#prices
            div.row
                div.col-xs-12
                    div.table
                        div.table-head
                            div.table-row.row.iransans-bold
                                div.table-col.col-lg-6.col-md-6.col-sm-6.col-xs-9.ta-right #{seed.lang[lang]['pricesPage']['tableHeaderType']}
                                div.table-col.col-lg-2.col-md-2.col-sm-2.col-xs-1.xs-hidden.ta-center #{seed.lang[lang]['pricesPage']['tableHeaderWage1']}
                                div.table-col.col-lg-2.col-md-2.col-sm-2.col-xs-1.xs-hidden.ta-center #{seed.lang[lang]['pricesPage']['tableHeaderWage2']}
                                div.table-col.col-lg-2.col-md-2.col-sm-2.col-xs-1.xs-hidden.ta-center #{seed.lang[lang]['pricesPage']['tableHeaderWage3']}

                                div.table-col.col-md-2.xs-visible.ta-center #{seed.lang[lang]['pricesPage']['tableHeaderWageXs']}
                        div.table-body.iransans-medium
                            mixin priceItem(text, freePercent, halfPercent, fullPercent)
                                div.table-row.row
                                    div.table-col.col-lg-6.col-md-6.col-sm-6.col-xs-9.ta-right    !{text}
                                    div.table-col.col-lg-2.col-md-2.col-sm-2.col-xs-1.ta-center  !{fullPercent}
                                    div.table-col.col-lg-2.col-md-2.col-sm-2.col-xs-1.ta-center  !{halfPercent}
                                    div.table-col.col-lg-2.col-md-2.col-sm-2.col-xs-1.ta-center  !{freePercent}

                            +priceItem(
                                seed.lang[lang]['pricesPage']['tableRow1'],
                                '<span class="icon-check text-green"></span>',
                                '__',
                                '__'
                            )
                            +priceItem(
                                seed.lang[lang]['pricesPage']['tableRow2'],
                                '__',
                                '<span class="icon-check text-green"></span>',
                                '__'
                            )
                            +priceItem(
                                seed.lang[lang]['pricesPage']['tableRow3'],
                                '__',
                                '__',
                                '<span class="icon-check text-green"></span>'
                            )
                            +priceItem(
                                seed.lang[lang]['pricesPage']['tableRow1'],
                                '<span class="icon-check text-green"></span>',
                                '__',
                                '__'
                            )

        div.page-section#descibe-before
            div.row
                div.col-xs-12
                    h3.header-title #{seed.lang[lang]['pricesPage']['describeBefore']}
                    div.section-content.line-height
                        | #{seed.lang[lang]['pricesPage']['describeBeforeDes']}

        div.page-section.gray-section#links
            div.row.ta-center
                div.col-md-12
                    a.btn.btn-normal(href="#") #{seed.lang[lang]['pricesPage']['whatIsZarinCard']}
                    a.btn.btn-normal(href="#") #{seed.lang[lang]['pricesPage']['whatIsGoldenTuesday']}
                    a.btn.btn-normal(href="#") #{seed.lang[lang]['pricesPage']['silverUser']}
                    a.btn.btn-normal(href="#") #{seed.lang[lang]['pricesPage']['goldUser']}

        div.page-section.bordered-section#register
            div.row.ta-center
                div.col-md-12
                    span.iransans-bold #{seed.lang[lang]['pricesPage']['takeStrongYourFirstStep']}
                    a.btn.btn-gold(href="https://my.zarinpal.com/auth/register") #{seed.lang[lang]['pricesPage']['getRegister']}

    include partials/footer