extends partials/layout

block page-variables
     - var pageTitle = seed.lang[lang]['products']

block content

    include partials/header

    div.row.page-head.application-page
        //blue and gold background
        div.col-lg-6.col-md-6.col-sm-12.col-xs-12.description-section
        div.col-lg-6.col-md-6.col-sm-12.col-xs-12.image-section

    <!--Pg-->
    div.row.section-pg
        div.col-lg-6.col-md-6.col-sm-12.col-xs-12
            div.gradiant-background
                p.top-title.xs-ta-center
                    | #{seed.lang[lang]['zarinPalPaymentGateway']}
                div.header-title.xs-ta-center
                    | #{seed.lang[lang]['securePaymentGateway']}
                p.title-describe
                    | #{seed.lang[lang]['securePaymentGatewayDescription']}

                a.read-more(href="https://my.zarinpal.com/auth/register")
                    span #{seed.lang[lang]['loginToGateWay']}
                    i.icon-left

        div.col-lg-6.col-md-6.col-sm-12.col-xs-12.ta-center
            include images/pg

    <!--Social payment-->
    div.section-social-payment
        div.row.no-margin
            div.col-lg-7.col-md-7.col-sm-12.col-xs-12
                include images/sosial-image

            div.col-lg-5.col-md-5.col-sm-12.col-xs-12
                p.top-title.xs-ta-center
                    | #{seed.lang[lang]['zarinLink']}
                div.header-title.xs-ta-center
                    | #{seed.lang[lang]['paymentInSocialNetworks']}
                p.title-describe
                    | #{seed.lang[lang]['paymentInSocialNetworksDescribe']}

                a.read-more(href="https://kb.zarinpal.com/easypay/")
                    span #{seed.lang[lang]['makeZarinLink']}
                    i.icon-left


    <!--Personal link and zaringate-->
    div
        div.row.no-margin
            div.col-lg-6.col-md-6.col-sm-12.col-xs-12
                p.top-title.xs-ta-center
                    | #{seed.lang[lang]['zarinGate']}
                div.header-title.xs-ta-center
                    | #{seed.lang[lang]['onlinePayGateway']}
                p.title-describe
                    | #{seed.lang[lang]['onlinePayGatewayDescribe']}

                a.read-more(href="https://kb.zarinpal.com/webservice/#زرین‌گیت")
                    span #{seed.lang[lang]['requestZarinGate']}
                    i.icon-left

            div.col-lg-6.col-md-6.col-sm-12.col-xs-12.p-r-50
                p.top-title.xs-ta-center
                    | #{seed.lang[lang]['personalLinkTitle']}
                div.header-title.xs-ta-center
                    | #{seed.lang[lang]['yourPaymentSocialPrestige']}
                p.title-describe
                    | #{seed.lang[lang]['personalLinkDescription']}

                a.read-more(href="https://kb.zarinpal.com/easypay/#لینک-شخصی")
                    span #{seed.lang[lang]['makePersonalLink']}
                    i.icon-left


    <!--ZarinCard-->
    div.row.section-zarincard
        div.col-lg-6.col-md-6.col-sm-12.col-xs-12
            div.gradiant-background
                p.top-title.xs-ta-center
                    | #{seed.lang[lang]['zarinCard']}
                div.header-title.xs-ta-center
                    | #{seed.lang[lang]['goldestBankCard']}
                p.title-describe
                    | #{seed.lang[lang]['goldestBankCardDescribe']}

                a.read-more(href="https://kb.zarinpal.com/home/#زرین‌کارت")
                    span #{seed.lang[lang]['receiveZarinCard']}
                    i.icon-left

        div.col-lg-6.col-md-6.col-sm-12.col-xs-12
            include images/zarincard

    include partials/footer