extends partials/layout
block page-variables
    - var pageTitle = seed.lang[lang]['terms']
    - var pageBlackHeader = true

include partials/page_title

block content
    include partials/header
    +pageTitle(seed.lang[lang]['terms'])

    div.page-section.terms-page
        div.row
            div.col-xs-12
                div.section-content.line-height
                    | #{seed.lang[lang]['termsDescribe']}

        span.title #{seed.lang[lang]['noticeReadAllTerms']}
        div.horizontal-line

        each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40]

            if val === 9
                div.sub-condition
                    each subCondition in [1, 2, 3, 4, 5, 6, 7,8, 9, 10, 11, 12, 13, 14, 15, 16]
                        div.section-content.line-height
                            | #{subCondition} . #{seed.lang[lang]['subCondition']['condition' + subCondition]}

            div.section-content.line-height
                |#{val} . #{seed.lang[lang]['condition' + val]}



    include partials/footer